@import '../../variables';
@import '../../styles.scss';

@mixin phone-buttons {
  margin: 10px;
}

@mixin action-buttons {
  background-color: $primary-color2;
  margin: 10px;
  //text-transform: uppercase;
  font-size: 14px;
}

@mixin flex-container {
  display: flex;
  flex-direction: row;
  // flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#incoming {
  @include flex-container;
}
#incomingButtons{
//@include flex-container;
display: flex;
position: fixed;
left: 50%;
    transform: translate(-50%);
    
    bottom: 20px;
}
#newincoming{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: white;
}
#newIncomingCall{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    color: white;
  
}
#dialpad {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  transition: all 0.3s ease, opacity 0.2s ease;
  height: 320px;
  &.closed {
    visibility: hidden;
    opacity: 0;
    height: 0;
  }
}

.statusLarge{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2px;
  font-size: 25px;
}

.dialpadButton {
  @include dial-button;
  @include phone-buttons;
  font-size: 1.5em;
}

.dialpadButtonLetters {
  font-size: 0.5em;
  color: $almost-black;
}

.dialpadRow {
  display: flex;
  flex-direction: row;
}

#actionButton {
  @include common-button;
  @include action-buttons;
  &.on {
    background-color: transparent;
  }
}

.endCallButton {
  @include common-button;
  @include action-buttons;
  background-color: #ff6961;
  box-shadow: 0px 13px 26px #84151158;
opacity: 1;
}
.notificationButton {
  @include common-button;
  @include action-buttons;
 
}
.startCallButton {
  @include common-button;
  @include action-buttons;
  background-color: #15c73b;
}
.incomingDefaultUser{
  border: 5px solid #E2E2E28D;
  opacity: 1;
  width: 187px;
height: 187px;
border-radius: 50%;
}
.messageCallButton {
  @include common-button;
  //@include action-buttons;
 // background-color: #A0A0A0;
}
.actionsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-evenly;
  align-items: center;
  margin-top: 50px;
//  background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 20px;
opacity: 0.8;
backdrop-filter: blur(40px);
-webkit-backdrop-filter: blur(40px);
}

#transferMenu {
  @include flex-container;
  transition: all 0.3s ease;
  &.closed {
    visibility: hidden;
    opacity: 0;
    height: 0;
  }
}

#transferInput {
  @include common-input;
  border: 2px solid $almost-black;
  border-radius: 100px;
  width: 80%;
  padding: 5px 10px 5px 10px;
}

.transferButtons {
  @include common-button;
  @include phone-buttons;
}